@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Leckerli+One&family=Roboto&display=swap');


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Elements
        3.2 Classes
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: solid red 1px;*/
}

body {
   height: 100vh;
}

/* ------------------------------- 2. Typography ----------------------------------- */


/* ------------------------------- 3. Layout --------------------------------------- */

/* ------------------------------- 3.1  Elements --------------------------------------- */

h1  {
    font-size: 3em;
    font-family: 'Gochi Hand', cursive;
}

ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    width: 90%;
    background-color: whitesmoke;
    padding: 15px;
}

li {
    list-style: none;
    overflow: auto;
    padding: 10px 20px ;
}

p {
    font-size: .7em;
}

/* ------------------------------- 3.2  Classes --------------------------------------- */


.outer-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 1200px;
    justify-content: center;
    align-items: center;
}

.world-map {
    width: 90%;
}

.flag-img {
    width: 30px;
    height: 20px;

}

.country-name {
    font-size: 1em;
    margin-left: 10px;
}

.inner-list {
    display: flex;
    margin-bottom: 2px;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.purple {
    color: purple;
}

.gray {
    color: #7D7F7C;
}

.globe {
    width: 400px;
}




